# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Temporary files
*.tmp
*.log

# OS/editor files
*.swp
*.swo